<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/home.css"/>
  <!-- <link rel="stylesheet" href="css/login.css" /> -->
</head>
<body>
  <div class="wrapper">
    <h1>Student Data Entry</h1>
    <form method="post" action="/api/v1/create">
      <label class="key">Enter Student's Name</label>
      <input type="text" name="name" placeholder="Name" class="value"/>

      <br />
      <br />

      <label class="key">Enter Student's Age</label>
      <input type="text" name="age" placeholder="Age" class="value age"/>

      <br />
      <br />

      <label class="key">Enter Student's Marks</label>
      <input type="text" name="marks" placeholder="Marks" class="value"/>

      <br />
      <br />

      <button type="submit" class="btn">Submit</button>
    </form>
  </div>

</body>
</html>