<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Data Insertion</title>
    <link rel="stylesheet" href="css/new.css" />
  </head>
  <body>
    <div class="wrapper">
      <h2 class="heading">Recent Data Insertion</h2>

      <div class="data-display">
        <span class="key">Student Name :</span>
        <span class="value"><%= data1 %></span>
        <br /><br/>
        <span class="key">Student Age  :</span>
        <span class="value age"><%= data2 %></span>
        <br /><br/>
        <span class="key">Student Marks :</span>
        <span class="value"><%= data3 %></span>
      </div>

        <button class="new-button btn" type="submit">Insert New</button>
        <button class="home-button btn" type="submit">Home Page</button>
    </div>

    <script src="js/new.js"></script>
  </body>
</html>